.box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  height: r(534);
}

.bd {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  opacity: 1;
  width: r(342);
  height: r(342);
}

.layer {
  position: absolute;
  top: r(0);
  left: r(0);
  width: r(342);
  height: r(342);
  overflow: hidden;
}

.bg {
  position: absolute;
  top: r(0);
  left: r(0);
  opacity: 1;
  width: r(342);
  height: r(342);
}

.wrap {
  box-sizing: border-box;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  margin-top: r(18);
  margin-left: r(18);
  border-radius: r(15);
  background-color: rgba(0, 0, 0, 0.4);
  padding-right: r(9);
  padding-left: r(10);
  height: r(30);
}

.riverdinwei {
  opacity: 1;
  width: r(14);
  height: r(18);
}

.distance {
  margin-left: r(4);
  height: r(22);
  font-weight: 400;
  font-size: r(18);
  color: #ffffff;
  line-height: r(22);
  white-space: nowrap;
}

.main {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
  width: r(342);
  height: r(114);
}

.title {
  margin-top: r(22);
  width: r(300);
  height: r(88);
  font-weight: 400;
  font-size: r(30);
  color: #333333;
  line-height: r(44);
  overflow: hidden;
  text-overflow: ellipsis;
}

.ft {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border-bottom-left-radius: r(12);
  border-bottom-right-radius: r(12);
  background-color: #ffffff;
  padding-right: r(17);
  padding-left: r(18);
  width: r(342);
  height: r(78);
  overflow: hidden;
}

.block {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: r(30);
}

.xianjin {
  width: r(30);
  height: r(30);
}

.fashionHome {
  margin-left: r(6);
  height: r(28);
  font-weight: 300;
  font-size: r(24);
  color: #666666;
  line-height: r(28);
  white-space: nowrap;
}

.group {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: r(30);
}

.favorite {
  width: r(22);
  height: r(22);
}

.num {
  margin-left: r(5);
  height: r(26);
  font-weight: 400;
  font-size: r(22);
  color: #999999;
  line-height: r(26);
  white-space: nowrap;
}
